git+git://github.com/Epistimio/sample-space.git@master#egg=sspace
git+git://github.com/Epistimio/orion.git@develop#egg=orion
git+git://github.com/Delaunay/cqueue.git@master#egg=msgqueue
git+git://github.com/Delaunay/rpcjs.git@master#egg=rpcjs
git+git://github.com/bouthilx/orion.algo.grid_search.git
git+git://github.com/automl/RoBO.git
altair
ConfigSpace
dataclasses
torch
torchvision
h5py
tqdm
pandas
filelock
scikit-optimize
matplotlib
